<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <script src="https://kit.fontawesome.com/b2e78dc1a9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/base.css">
  </head>
  <body>
<div class="hero">

  <video autoplay loop muted play-inline class="back-video">
    <source src="http://127.0.0.1:5000/static/img/video.mp4" type = "video/mp4">
  </video>
  <nav>
    <img src="http://127.0.0.1:5000/static/img/logo.png" class="logo"  height="50px">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
    
    </ul>
  </nav>
  <div class="content">
    <h1>Welcome to Deepfake Detector</h1>
    <a href="#">Explore</a>
</div>
</div>


<div class="out">
<div class="container">
  <div class="card">
    <div class="face face1">
      <div class="content">
        <i class="fa-solid fa-image"></i>            
        <h3>Image</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p> Upload Image File in jpg or png format for Real/Fake Detection</p>
        <a href="/upload_image" type="button">Upload</a>
      </div>
    </div>
 </div>
 
 <div class="card">
    <div class="face face1">
      <div class="content">
        <i class="fa-solid fa-video"></i>              
         <h3>Video</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>  Upload Video File in mp4 or mov format for Real/Fake Detection</p>
        <a href="/upload_video" type="button">Upload</a>
      </div>
    </div>
  </div>
 
 
 
 <div class="card">
    <div class="face face1">
      <div class="content">
        <i class="fa-solid fa-file-audio"></i>
         <h3>Audio</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>  Upload Audio File in mp3 format for Real/Fake Detection</p>
        <a href="/upload_audio" type="button">Upload</a>
      </div>
    </div>
 </div>
</div>
</div>
</div>

<footer>
<div class="footerContainer">
  <div class="socialIcons">
    <a href="" class="fa-brands fa-facebook"></i></a>
    <a href="" class="fa-brands fa-instagram"></i></a>
    <a href="" class="fa-brands fa-twitter"></i></a>
    <a href="" class="fa-brands fa-linkedin"></i></a>
    <a href="" class="fa-brands fa-github"></i></a>
  </div>
  <div class="footerBottom">
    <p>Copyright &copy;2023; Designed by <span class="designer">SinjuCodes</span>
</footer>

  </body>
  </html>